{% extends 'base.html.twig' %}

{% block title %}Evenements disponibles{% endblock %}

{% block body %}
    <h1>Evenements disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Type d'evenement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.titre }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td> {{ evenement.typeEvenement.nom }} </td>
                <td> <a href="{{ path('partenaire_proposer_prestation', {'id': id , 'id_event': evenement.id}) }}" class="btn btn-success"> Proposer prestation </a> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('partenaire_show', {'id': id}) }}">Back to profile</a>
{% endblock %}
