{% extends 'base.html.twig' %}

{% block title %}Evenements disponibles{% endblock %}

{% block body %}
    <h1>Evenements disponibles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Type d'evenement</th>
                <th>distance en km</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for index in sortedEventsIndex %}
            <tr>
                <td>{{ evenements[index].id }}</td>
                <td>{{ evenements[index].titre }}</td>
                <td>{{ evenements[index].date ? evenements[index].date|date('Y-m-d') : '' }}</td>
                <td>{{ evenements[index].typeEvenement.nom }} </td>
                <td>{{ distanceEvenement[index] }} km</td>
                <td> <a href="{{ path('partenaire_proposer_prestation', {'id': id , 'id_event': evenements[index].id}) }}" class="btn btn-success"> Proposer prestation </a> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('partenaire_show', {'id': id}) }}">Back to profile</a>
    
    
    
    
{% endblock %}
