{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Addresse</th>
                <td>{{ evenement.address }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ evenement.lat }} ; {{ evenement.lng }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    

    <a href="{{ path('client_evenement_index', {'id': idClient}) }}">back to list</a>
    <a href="{{ path('client_evenement_edit', {'id': idClient, 'id_event': evenement.id}) }}">edit</a>
    <a href="{{ path('client_evenement_prestations', {'id': idClient, 'id_event': evenement.id}) }}">Liste des prestations</a>
    <div id="map" style="margin-left: 30%;margin-right: 30%; width:50%; height: 500px" data-lat="{{ evenement.lat }}" data-lng="{{ evenement.lng }}"> </div>
     {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
