{% extends 'base.html.twig' %}

{% block title %}Partenaire index{% endblock %}

{% block body %}
    <h1>Partenaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Metier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partenaire in partenaires %}
            <tr>
                <td>{{ partenaire.id }}</td>
                <td>{{ partenaire.nom }}</td>
                <td>{{ partenaire.prenom }}</td>
                <td> {{  partenaire.metier.titre }} </td>
                <td>
                    <a href="{{ path('partenaire_show', {'id': partenaire.id}) }}">show</a>
                    <a href="{{ path('partenaire_edit', {'id': partenaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partenaire_new') }}">Create new</a>
{% endblock %}
