{% extends 'base.html.twig' %}

{% block title %}Localisation index{% endblock %}

{% block body %}
    <h1>Localisation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for localisation in localisations %}
            <tr>
                <td>{{ localisation.id }}</td>
                <td>{{ localisation.longitude }}</td>
                <td>{{ localisation.latitude }}</td>
                <td>
                    <a href="{{ path('localisation_show', {'id': localisation.id}) }}">show</a>
                    <a href="{{ path('localisation_edit', {'id': localisation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('localisation_new') }}">Create new</a>
{% endblock %}
